/* Shake */

@keyframes shake-horizontal {
	10%,
	90% {
		transform: translate3d(-0.4%, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(0.8%, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-1.6%, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(1.6%, 0, 0);
	}
}
