h1 {
	font: var(--tx-h1);
}

h2 {
	font: var(--tx-h2);
}

h3 {
	font: var(--tx-h3);
}

h4 {
	font: var(--tx-h4);
}

h5 {
	font: var(--tx-h5);
}

p {
	font: var(--tx-body);
}

/* strong {
	font-weight: 800;
} */
