/*
  Layers
*/

:root {
  --layer-1: 9;
  --layer-2: 99;
  --layer-3: 999;
  --layer-4: 9999;
  --layer-5: 99999;
  --layer-6: 999999;
  --layer-7: 9999999;
  --layer-8: 99999999;
  --layer-9: 999999999;
  --layer-10: 9999999999;
  --layer-11: 99999999999;
  --layer-12: 999999999999;
}
