/*
	Motion
*/

:root  {

  /* Durations */

	--time-1: 0.12s;
	--time-2: 0.2s;
	--time-3: 0.28s;
	--time-4: 0.36s;
  --time-5: 0.48s;
  --time-6: 0.6s;
	--time-7: 0.72s;

  /* Transitions */
  
	--transition-0: var(--time-0) all ease-out;
	--transition-1: var(--time-1) all ease-out;
	--transition-2: var(--time-2) all ease-in-out;
	--transition-3: var(--time-3) all ease-in-out;
}
