/*
	Skin
*/

:root {
	/* Colors */

	/* Brand */
	--c-primary: 256, 89%, 61%;
	--c-primary-light: 256, 89%, 72%;
	--c-primary-dark: 256, 89%, 36%;
	--c-secondary: 335, 100%, 50%;
	--c-secondary-light: 335, 100%, 70%;
	--c-secondary-dark: 335, 100%, 40%;
	/* Grayscale */
	--c-black: 256, 3%, 8%;
	--c-black-light: 256, 8%, 21%;
	--c-gray-extra-dark: 256, 10%, 40%;
	--c-gray-dark: 256, 10%, 58%;
	--c-gray: 256, 12%, 73%;
	--c-gray-light: 256, 7%, 86%;
	--c-gray-extra-light: 256, 7%, 94%;
	--c-white-extra-dark: 256, 4%, 97%;
	--c-white-dark: 256, 7%, 98%;
	--c-white: 0, 0%, 100%;
	/* Status  */
	--c-error: 346, 94%, 49%;
	--c-success: 158, 88%, 44%;
	--c-info: 207, 100%, 50%;
	--c-warning: 47, 100%, 50%;
	/* Text */
	--c-text: var(--c-black-light);
	--c-text-light: var(--c-gray-extra-dark);
	--c-text-extra-light: var(--c-gray-dark);
	--c-text-ultra-light: var(--c-gray);
	--c-skeleton: var(--c-gray-light);
	/* Miscellanous */
	--c-blue: #008cff;
	--c-green: #00be8f;

	/* Gradients */

	--gradient-primary: linear-gradient(
		61.62deg,
		#3300ff 13.06%,
		#6800f7 46.77%,
		#a300ef 85.79%
	);

	/* Borders */

	--border-1: 2px solid hsl(var(--c-gray-light));
	--border-2: 2px solid hsl(var(--c-primary));
	--border-macro-ui: 2px solid hsl(var(--c-gray-light));

	/* Shadows */

	--shadow-1: 0px 0px 8px hsla(0, 0%, 0%, 0.12);
	--shadow-2: 0px 4px 8px hsla(0, 0%, 0%, 0.1);
	--shadow-3: 0px 0px 6px hsla(0, 0%, 0%, 0.05);
	--shadow-4: -4px 0px 16px hsla(0, 0%, 0%, 0.2);
}
