/*
	Structure
*/

:root {
	/* Spacing (positioning, padding, margins, gaps) */

	--space-0: 2px;
	--space-1: 4px;
	--space-2: 6px;
	--space-3: 8px;
	--space-4: 10px;
	--space-5: 12px;
	--space-6: 16px;
	--space-7: 20px;
	--space-8: 24px;
	--space-9: 28px;
	--space-10: 32px;
	--space-11: 36px;
	--space-12: 40px;
	--space-13: 48px;
	--space-14: 56px;
	--space-15: 72px;
	--space-16: 80px;
	--space-17: 88px;
	--space-18: 96px;

	/* Sizing (height, width) */

	--size-0: 8px;
	--size-1: 12px;
	--size-2: 16px;
	--size-3: 20px;
	--size-4: 24px;
	--size-5: 32px;
	--size-6: 36px;
	--size-7: 44px;
	--size-8: 52px;
	--size-9: 64px;
	--size-10: 80px;
	--size-11: 92px;
	--size-12: 108px;

	/* Border radius */

	--border-radius-xxs: 4px;
	--border-radius-xs: 6px;
	--border-radius-sm: 8px;
	--border-radius-ms: 12px;
	--border-radius-md: 16px;
	--border-radius-ls: 20px;
	--border-radius-lg: 24px;
	--border-radius-xl: 32px;
	--border-radius-xxl: 36px;
	--border-radius-circle: 96px;

	/* Negative factor */

	--negative-factor-1: -1;
}
