/*
	Structure
*/

:root {
	/* Border radius */

	--border-radius-xxs: 4px;
	--border-radius-xs: 6px;
	--border-radius-sm: 8px;
	--border-radius-ms: 12px;
	--border-radius-md: 16px;
	--border-radius-ls: 20px;
	--border-radius-lg: 24px;
	--border-radius-xl: 32px;
	--border-radius-xxl: 36px;
	--border-radius-circle: 96px;

	/* Negative factor */

	--negative-factor-1: -1;

	/* Layout */

	--layout-padding: 0.75rem;
}

@media all and (min-width: 768px) {
	:root {
		--layout-padding: 1.25rem;
	}
}
