/*
	Text styles
*/

:root {
	--font-family: 'Obibok', -apple-system, 'Segoe UI',
		'Ubuntu', sans-serif;

	/* Headings */

	--tx-h1: var(--fontWeight, 900) 34px /
		var(--lineHeight, 40px) var(--font-family);
	--tx-h2: var(--fontWeight, 800) 26px /
		var(--lineHeight, 32px) var(--font-family);
	--tx-h3: var(--fontWeight, 800) 20px /
		var(--lineHeight, 28px) var(--font-family);
	--tx-h4: var(--fontWeight, 800) 17px /
		var(--lineHeight, 24px) var(--font-family);
	--tx-h5: var(--fontWeight, 700) 16px /
		var(--lineHeight, 22px) var(--font-family);

	/* Paragraph */

	--tx-tiny: var(--fontWeight, 500) 11px /
		var(--lineHeight, 12px) var(--font-family);
	--tx-caption: var(--fontWeight, 500) 12px /
		var(--lineHeight, 16px) var(--font-family);
	--tx-small: var(--fontWeight, 700) 13px /
		var(--lineHeight, 24px) var(--font-family);
	--tx-body: var(--fontWeight, 600) 15px /
		var(--lineHeight, 28px) var(--font-family);
	--tx-big: var(--fontWeight, 600) 17px /
		var(--lineHeight, 28px) var(--font-family);

	/* Menu */

	--tx-menu-small: var(--fontWeight, 600) 12px /
		var(--lineHeight, 12px) var(--font-family);
	--tx-menu: var(--fontWeight, 600) 14px /
		var(--lineHeight, 14px) var(--font-family);
	--tx-menu-big: var(--fontWeight, 600) 16px /
		var(--lineHeight, 16px) var(--font-family);

	/* Buttons */

	--tx-button: 700 var(--fontSize, 15px) /
		var(--lineHeight, 20px) var(--font-family);
	--tx-button-small: 700 var(--fontSize, 13px) /
		var(--lineHeight, 16px) var(--font-family);
}
