/*
	Text styles
*/

:root {
	--ff: "Obibok", "Montserrat", system-ui, "Segoe UI", "Ubuntu", sans-serif;

	/* Headings */

	--f-h1: 900 32px / 40px var(--ff);
	--f-h2: 800 24px / 32px var(--ff);
	--f-h3: 800 20px / 28px var(--ff);
	--f-h4: 800 17px / 24px var(--ff);
	--f-h5: 700 16px / 22px var(--ff);

	/* Paragraph */

	--f-tiny: 500 11px / 12px var(--ff);
	--f-caption: 500 12px / 16px var(--ff);
	--f-small: 700 13px / 24px var(--ff);
	--f-medium: 700 14px / 24px var(--ff);
	--f-body: 600 15px / 24px var(--ff);
	--f-big: 600 17px / 28px var(--ff);

	/* Menu */

	--f-menu-small: 600 12px / 12px var(--ff);
	--f-menu: 600 14px / 14px var(--ff);
	--f-menu-big: 600 16px / 16px var(--ff);

	/* Buttons */

	--f-button: 700 15px / 20px var(--ff);
	--f-button-small: 700 13px / 16px var(--ff);
}
